doctype html
html
  include head.pug
  body
    .container.pt-4.pb-5(style='max-width:600px;')
      .row
        .col
          .alert.alert-danger
            small You are currently out of reach of the goal light